# Build directory
out

# node modules directory
node_modules

# OSX dir folders
.DS_Store

# Java build artefacts
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/

# lein artefacts
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
