;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "0.10.0"]
  [org.clojure/core.async "0.4.500"]]

 :dev-http {8080 "docs/"}
 :builds {:app {:asset-path "."
                          :output-dir "docs/js"
                          :target :browser
                          :modules {:app {:init-fn mapkon.core/main!}}
                          :devtools {:after-load mapkon.corey/reload!
                                     :http-root "docs"
                                     :http-port 8080}}}}
